.user_new_card {
  color: black;
  margin-bottom: auto;
  width: 400px;
  margin-top: 22px;
  margin-left: 120px;
  background-color: white;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 2px 6px #c1ced7;
}

.user_new_cardname {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fbedea;/*背景色*/
  border-left: solid 5px #fc6851;/*左線（実線 太さ 色）*/
}

.rank-image {
  width: 25px;
  height: 25px;
}

.likes_count {
  font-weight: bold;
  margin-left: 200px
}

.likes_heart {
  margin-left: 150px;
}

.card_content {
  display: flex;
  margin-top: -10px;
  width: 250px;
  font-size: 20px;
}